# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Virtual environment
venv/
.venv/
env/
.env/

# Environment files
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
*.whl

# Editors
.vscode/
.idea/
*.swp
*.bak
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Testing
.coverage
.tox/
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints/